# Build and Release Folders
bin/
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin
__pycache__/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.pyc
